In [61]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib as plt
import seaborn as sns

In [63]:
t_data = pd.read_csv("C:/Users/rvu/Downloads/t_test_data.csv")
t_data

   Employee  Salary
0         1   52000
1         2   48000
2         3   50500
3         4   53500
4         5   51000
5         6   49500
6         7   54000
7         8   50000
8         9   52500
9        10   51500

In [65]:
salaries_t = t_data['Salary']

In [67]:
salaries_t = t_data['Salary']

# Hypothesized population mean
mu = 50000

# -----------------------------
# Descriptive Statistics
# -----------------------------
print("------ Dataset Summary ------")
print("Sample size (n):", len(salaries_t))
print("Sample mean:", salaries_t.mean())
print("Sample standard deviation:", salaries_t.std())
print()

# -----------------------------
# Two-tailed t-test
# H0: mean = 50000
# H1: mean ≠ 50000
# -----------------------------
t_stat, p_value = stats.ttest_1samp(salaries_t, mu)
print("------ Two-tailed t-test ------")
print("t-statistic =", t_stat)
print("p-value =", p_value)

if p_value < 0.05:
    print("Reject H0: Average salary differs from $50,000")
else:
    print("Fail to reject H0: No significant difference from $50,000")

# -----------------------------
# One-tailed t-test (mean < 50000)
# H0: mean >= 50000
# H1: mean < 50000
# -----------------------------
# Run the same t-test
t_stat, p_value = stats.ttest_1samp(salaries_t, mu)

# Convert to one-tailed p-value
p_value_one_tailed = p_value / 2

print("\n------ One-tailed t-test (mean < 50000) ------")
print("t-statistic =", t_stat)
print("One-tailed p-value =", p_value_one_tailed)

if (t_stat < 0) and (p_value_one_tailed < 0.05):
    print("Reject H0: Average salary is significantly less than $50,000")
else:
    print("Fail to reject H0: No significant evidence mean < $50,000")

------ Dataset Summary ------
Sample size (n): 10
Sample mean: 51250.0
Sample standard deviation: 1844.6619684315547

------ Two-tailed t-test ------
t-statistic = 2.142857142857143
p-value = 0.06073834694183175
Fail to reject H0: No significant difference from $50,000

------ One-tailed t-test (mean < 50000) ------
t-statistic = 2.142857142857143
One-tailed p-value = 0.030369173470915875
Fail to reject H0: No significant evidence mean < $50,000

In [75]:
import pandas as pd
import numpy as np
from scipy import stats

In [77]:
z_data = pd.read_csv("C:/Users/rvu/Downloads/z_test_data.csv")

salaries_z = z_data['Salary']
mu = 50000
sigma = 2500


n = len(salaries_z)
sample_mean = np.mean(salaries_z)


print("------ Dataset Summary ------")
print("Sample size (n):", n)
print("Sample mean:", sample_mean)
print("Population standard deviation (σ):", sigma)
print()


z_stat = (sample_mean - mu) / (sigma / np.sqrt(n))
p_value_two = 2 * (1 - stats.norm.cdf(abs(z_stat)))

print("------ Two-tailed Z-test ------")
print("Z-statistic =", z_stat)
print("p-value =", p_value_two)

if p_value_two < 0.05:
    print("Reject H0: Average salary differs from $50,000")
else:
    print("Fail to reject H0: No significant difference from $50,000")


p_value_one = 1 - stats.norm.cdf(z_stat)

print("\n------ One-tailed Z-test (mean > 50000) ------")
print("Z-statistic =", z_stat)
print("p-value =", p_value_one)

if p_value_one < 0.05:
    print("Reject H0: Average salary is greater than $50,000")
else:
    print("Fail to reject H0: No significant evidence mean > $50,000")

------ Dataset Summary ------
Sample size (n): 30
Sample mean: 50866.666666666664
Population standard deviation (σ): 2500

------ Two-tailed Z-test ------
Z-statistic = 1.8987715326845707
p-value = 0.05759452164905454
Fail to reject H0: No significant difference from $50,000

------ One-tailed Z-test (mean > 50000) ------
Z-statistic = 1.8987715326845707
p-value = 0.02879726082452727
Reject H0: Average salary is greater than $50,000